*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
.headover{
  position: fixed;
  left: 0px;
  right: 0px;
}
.slide{
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homehead{
  font-family: 'Grape Nuts', cursive;
}
.wrapper{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 

}
.section{
  height: 100vh;
scroll-snap-align: start;
}
.paraslide{
  font-family: 'Merriweather', serif;
      line-height: 1.5;
      font-size: 20px;
      margin-top: 15px;
}
.headeslide{
  font-family: 'Mulish', sans-serif;
}

.three{

background-color: #00264d;}
.skillgroup{
  display: flex-row;
  flex-wrap: wrap;
}
.skill{
  height:50px;
min-width: 90px;
 background-color:#b3b3b3;
 border:  1px #b3b3b3 solid;
 border-radius: 5%;
 text-align: center;
 padding: 2%;
 margin-right: 10px;
 margin-bottom: 10px;
 font-family: 'Mulish', sans-serif;
text-shadow: 1px 1px 1px 4px black;
}
